/* будуємо бухгалтерський баланс за допомогою псевдоселекторів.
  змінюємо стиль елемента, коли наводиться на нього курсор, 
  та запускаємо інші події на своїй вебсторінці. */

  /* елементи з цим класом повністю приховую
від візуальної сторінки, але щоб їх все одно повідомляли читачі екрана. */

span[class~="sr-only"] {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    -webkit-clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    padding: 0;
    margin: -1px;
  }

  /* скидання блокової моделі */
  html {
    box-sizing: border-box;
  }

  body {
    font-family: sans-serif;
    color: #0a0a23;
  }

  h1 {
    max-width: 37.25rem;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
  }

  /* це зображатиме вкладені елементи знизу вгору,
   та встановлює простір між елементами заголовка */
  h1 .flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }

  /* псевдоселектор обирає першій елемент контейнера  */
  h1 .flex span:first-of-type {
    font-size: 0.7em;
  }

  /* цей псевдоселектор нацюлює останній елемент контейнера */
  h1 .flex span:last-of-type {
    font-size: 1.2em;
  }

  /* надаю таблиці край, адаптивність та центрування */
  section {
    max-width: 40rem;
    margin: 0 auto;
    border: 2px solid #d0d0d5;
  }

  #years {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    background-color: #0a0a23;
    color: #fff;
    z-index: 999;
    margin: 0 -2px;
    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
  }
/* Синтаксис span[class] буде націлений на будь-який елемент span,
 який має встановлений атрибут class, незалежно від значення. */
  #years span[class] {
    font-weight: bold;
    width: 4.5rem;
    text-align: right;
  }

  .table-wrap {
    padding: 0 0.75rem 1.5rem 0.75rem;
  }

  /* Псевдоселектор :not() використовують для націлення всіх елементів,
   які не відповідають селектору: в цьому разі 
   будь-який з ваших елементів span, який не має клас sr-only */
  
   /* span:not(.sr-only) {
    font-weight: normal;
  } */

  /* властивість border-collapse на collapse, 
  що дозволить краям клітинок згортатися в один край,
   замість краю навколо кожної клітинки.
    Крім того, властивість border на 0, щоб приховати самі краї. */
  
   table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    position: relative;
    margin-top: 3rem;
  }

  table caption {
    color: #356eaf;
    font-size: 1.3em;
    font-weight: normal;
    position: absolute;
    top: -2.25rem;
    left: 0.5rem;
  }

  tbody td {
    width: 100vw; /*по ширине области просмотра*/
    max-width: 4rem;
    min-width: 4rem;
  }

  /* елементи th в межах тіла своєї таблиці 
  та надаю їм ширину повного контейнера, менше за 12rem. */
  
  tbody th {
    width: calc(100% - 12rem);
  }
/* вибере елементи tr, де єдиним класом є total */
tr[class="total"] {
    border-bottom: 4px double #0a0a23;
    font-weight: bold;
}

/* націлюю елементи th в рядках таблиці з total class. */
tr[class="total"] th {
    text-align: left;
    padding: 0.5rem 0 0.25rem 0.5rem;
} 

/* націлює всі елементи td в рядках .total */
tr.total td {
    text-align: right;
    padding: 0 0.25rem;
}

/* псевдоселектрор, который нацелен на элемент с порядковым номером () в строках tr таблицы total */
tr.total td:nth-of-type(3) {
  padding-right: 0.5rem;
}

tr.total:hover {
  cursor: pointer;
  background-color: #99c9ff;
}

td.current {
  font-style: italic;
}

/* фоновое изображение строкам с классом data */
tr.data {
  background-image: linear-gradient(to bottom, #dfdfe2 1.845rem, white 1.845rem);
}

tr.data th {
  text-align: left;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
}

/* стилизую элементы th с классом .desc.. в границах tr c классом .data
придаю им блоковое значение, и стиль текста с отсупом  */
tr.data th .description {
  display: block;
  font-style: italic;
  font-weight: normal;
  padding: 1rem 0 0.75rem;
  margin-right: -13.5rem;
}

/* выравниваю текст с суммамы по вертикали вверх, по горизонтали справа + отступ*/
tr.data td {
  vertical-align: top;
  text-align: right;
  padding: 0.3rem 0.25rem 0;
}
 
/* добавляю последнему элементу td в пределах строк с селектором .data отступ */
tr.data td:last-of-type {
  padding-right: 0.5rem;
}